body {
  font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
}
#wrapper {
  width: 500px;
  margin: 40px auto;
  overflow: hidden;
}

/**
 * The popup that shows by the range.
 */
.annotation-popup {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding: 4px 8px;
  box-shadow: 4px 4px 0px rgb(0,0,0);
  cursor: pointer;
}
.annotation-popup:hover {
  background-color: #00aaaa;
}
.annotation-popup:active {
  box-shadow: none;
  left: 4px;
  top: 4px;
}
::selection {
  background: #ffb7b7;
}
::-moz-selection {
	background: #ffb7b7;
}
